<table class="table table-striped">
  <thead>
    <tr>
      <th>{{#link-to 'index' (query-params sort='description')}}Description{{/link-to}}</th>
      <th>Category</th>
      <th>Date</th>
      <th>{{#link-to 'index' (query-params sort='amount')}}Amount{{/link-to}}</th>
      <th>Percentage</th>
      <th>Percent</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedLineItems as |lineItem|}}
      {{line-item-row model=lineItem totalAmount=totalAmount categories=categories}}
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6">
        <button {{action 'addNewLineItem'}} class="btn btn-default">Add Line Item</button>
      </td>
    </tr>
  </tfoot>
</table>
